# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log

# Ignore environment variables file
.env

# Ignore IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Ignore build artifacts
build/
dist/
*.egg-info/
